/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* .appTitle{
  width: 70px;
  font-size: xx-large;
  display: flex;
  align-items: center;
} */

/* .songListContainer{
  display: flex;
  justify-content: space-around;
  max-width: auto;
  margin: 0 auto;
} */

.App-header {
  background-color: black;
  min-height: 100vh;
  color: white;
}


.songImage{
  margin-left: 10%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

}

.itemInfo{
  margin-top: 5%;
}

.title{
font-size: 28px;
font-family: fantasy;
}

.artist{
  font-size: 20px;
}
.formatImage{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

}
.songList, .favSongList{
  width: 50%
}

.favSongList{
  display: flex;
  flex-direction: column;
}

.songAndartist{


}

/* .genreFilterContainer{
  display: flex;
  flex-direction: row;

} */

/* .filtersContainer{
  pos
} */

/* .artistFilterContainer{
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
} */ */

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appTitle {
  margin-top: 20px;
  margin-left: 20px;
}

.songListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.Checkboxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.artistFilterContainer,
.genreFilterContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.ContainerSongs {
  display: flex;
  justify-content: row;
}

.favSongList {
  align-items: right;
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

