/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.appTitle{
  width: 70px;
  font-size: xx-large;
  display: flex;
  align-items: center;
} 

.songListContainer{
  display: flex;
  justify-content: space-around;
  max-width: auto;
  margin: 0 auto;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  color: white;
}


.itemInfo{
  margin-top: 5%;
}



.formatImage{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 10px;

}
.songList, .favSongList{
  width: 50%
}

.favSongList{
  display: flex;
  flex-direction: column;
}

.songAndartist{


}

.genreFilterContainer{
  display: flex;
  flex-direction: row;

} */


 /* .artistFilterContainer{
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
}  */



/* .appTitle {
  margin-top: 20px;
  margin-left: 20px;
}

.songListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.Checkboxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.artistFilterContainer,
.genreFilterContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.ContainerSongs {
  flex-grow: 1;
  margin-left: 20px;
}

.favSongList {
  margin-right: 20px;
}

.imageInfo{
  margin-top: 20px;
} 
*/



.App {
  display: flex;
  flex-direction: r;
  justify-content: space-between;
  align-items: flex-start;
}

.songImage{
  width: 140px;
  height: 140px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-right: 10px;
}

.formatImage{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.title{
  font-size: 28px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .itemInfo{
    margin-top: 10px;
  }

  .artist{
    font-size: 25px;
    margin-bottom: 12px;
  }

  .genre, .year, .length{
    font-size: 12px;
  }

  .extraAttributes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .checkboxBar{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    width: 300px;
    height: 350px;

  }

  .songListContainer{
    display: flex;
    flex-direction: row;
  }

  .favSongs{
    width: 200px;
    height: auto;
    margin-right: 40px;
  }

  