

.App {

  /* background-color: rgb(29, 27, 27); */
  background-image: url('/public/images/blue.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  gap: 20px;
  padding: 3%;
}

.appTitle{
  color: white;
}
.favSongList{
  color: white
}
.filtersContainer{
  color: white;
  grid-column: 1;

  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  width: 600px;
  height: 350px; */
}

/* .songList{
  grid-column: 2;
  width: 400px;
  height: auto;
} */

.SongList{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, .5fr));
  color: white;
  width: 800px;
  height: auto;
  padding-top: 0%;
}

  /* padding: 10%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1.3fr));
  gap: 0rem; */


.favSongList ul {
  list-style-type: none;
  grid-column: 3;
}



.appTitle{
  text-align: center;
  font-size: 30;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.songImage{
  width: 120px;
  height: 120px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-right: 10px;
}

.formatImage{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.title{
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

  .artist{
    font-size: 15px;
    margin-bottom: 5px;
  }

  .genre, .year, .length{
    font-size: 12px;
  }

  .attributesContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  

  .songsAndFavListContainer{
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
  }


  .filtersContainer{
    padding-top: 4%;
    width: 220px;
    display: flex;
    flex-direction: column;
  }

  .filtersAndSongsContainer{
    display: flex;
    flex-direction: row;
  }

  .songLib{
    color: white
  }
  .songLibAndTitle{
    display: flex;
    flex-direction: column;
  }


 


/*  
  .checkboxBar{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    width: 600px;
    height: 350px;

  } */



  /* .songListContainer{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1.3fr));
    gap: 0rem;
  }

  .favSongList{
    width: 300px;
    padding: 2%;
    height: auto;
  
  }

  .artistFilterContainer{
    display: flex;
    flex-direction: column;
  }

  .formatSongsAndFavs{
    display: flex;
    flex-direction: row;

  } */